.footer {
  background-color: #F5F5F5;
  padding: 16px;
  font-family: Arial, sans-serif;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
  flex-wrap: wrap;
}

.footer__brand {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.footer__brand img {
  margin-bottom: 40px;
}

.footer__social {
  display: flex;
  gap: 40px;
  color:var(--primary-color);
}

.footer__social a {
  color: blue;
  font-size: 24px;
  text-decoration: none;
}

.footer__column h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer__column h5 {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 5px;
  color: #444;
}

.footer__column p {
  font-size: 13px;
  color: #666;
}

.footer-payments{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap:33px;
  margin-top: 3.8125rem;
}

.sub-footer {
  text-align: center;
  padding: 20px;
  height:211px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sub-footer p {
  max-width: 1074px;
  font-size: 12px;
  color: #303030;
}

.sub-footer__logos {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.footer__mobile--box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
}

.footer__mobile--box i{
  font-size: 1.5rem;
  color: var(--primary-color);
}

@media screen and (max-width:712px){
  .footer__column{
    width:100%;
    margin-bottom:20px;
  }
  .footer__brand{
    width:100%;
    align-items: center;
    margin-bottom:48px;
  }
  .footer-payments{
      margin-top:1.875rem;
  }
  .sub-footer{
    margin-top:2.5rem;
  }
}