.flex-row-align{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-row-between{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.swiper-pagination {
    bottom: 10px !important; 
}

.swiper-container {
  height: 500px !important; 
  width: 600px !important;
  overflow: visible !important; 
}

.swiper-wrapper {
  padding-bottom: 40px !important;
}

.mt-correction {
  margin-top: 2.8125rem;
}