@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&display=swap');

:root {
  --primary-color:#005CFF;     
  --secondary-color:#6220C1;
  --discount-color:#5EC0BE;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

.flex-row-align{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-row-between{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
